!/src
!/scripts

/scripts/*
!*.bat
!*.conf

/**/*.cfg.json
/**/*.struct.ts
/**/*.topic.ts

/**/*.c.ts
/**/*.s.ts
/**/*.p.ts
/**/*.s.json
/**/*.es6.js
/**/*.tpl.ts
/**/*.depend
/**/*.pi_depend
package-lock.json
